<div>
    <table>
        <thead>
            <tr>
                <ng-container *ngFor="let colData of gridColumns">
                    <th *ngIf="!colData.hide">
                        <span [textContent]="colData.headerName"></span>
                    </th>
                </ng-container>
            </tr>
        </thead>
        <tbody [formGroup]="formGroup">
            <ng-container
                formArrayName="gridForm"
                *ngFor="
                    let rowControl of formGroup.get('gridForm').controls;
                    let i = index
                "
            >
                <app-ngz-grid-data-row
                    [rowControl]="rowControl"
                    [rowData]="gridData[i]"
                    [columns]="gridColumns"
                    [rowIndex]="i"
                    ngNoHost
                >
                </app-ngz-grid-data-row>
            </ng-container>
        </tbody>
    </table>
</div>