<ng-container [formGroup]="rowControl">
    <tr>
        <ng-container *ngFor="let colData of gridColumns">
            <td *ngIf="!colData.hide">
                <app-ngz-grid-cell
                    [column]="colData"
                    [gridRowControls]="rowControl"
                    [rowData]="rowData"
                    [rowIndex]="rowIndex"
                    [gridFormControl]="rowControl.controls[colData.field]"
                >
                </app-ngz-grid-cell>
            </td>
        </ng-container>
    </tr>
</ng-container>